

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.event-node {
  text-align: center;
  transition: transform 0.2s;
}
.event-node:hover {
  transform: scale(1.05);
  background-color: #cce7ff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Tăng độ mờ cho nền */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal luôn hiển thị trên cùng */
}

.event-modal {
  position: relative;
  background: #ffffff;
  border-radius: 12px;
  outline: none;
  width: 80%; /* Thu gọn chiều rộng cho gọn gàng */
  height: 85%; /* Chiều cao vừa đủ để hiển thị nội dung */
  padding: 0; /* Bỏ padding, vì đã có layout cụ thể */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng nổi bật */
  overflow: hidden;
  animation: slideIn 0.4s ease-out; /* Hiệu ứng slide mượt */
}

.event-modal .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #f3f3f3;
  color: #555;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.event-modal .close-button:hover {
  background: #e1e1e1;
  transform: scale(1.1); /* Tăng kích thước khi hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.image-container img {
  max-width: 100%; /* Không vượt quá chiều rộng modal */
  max-height: 400px; /* Giới hạn chiều cao */
  object-fit: contain; /* Giữ nguyên tỷ lệ hình ảnh */
  margin: 0 auto; /* Căn giữa */
  display: block;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Để đảm bảo nếu nội dung lớn hơn thì cuộn thay vì bị lệch */
}

